{% extends 'website/base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center min-vh-100">
        <div class="card p-4 shadow" style="width: 100%; max-width: 400px;">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }},
                        <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <h1 class="h5 mb-3 font-weight-normal text-center">Please sign in</h1>

                <div class="mb-3">
                    <label for="inputEmail" class="form-label">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                           class="form-control" autocomplete="email" required autofocus>
                </div>

                <div class="mb-3">
                    <label for="inputPassword" class="form-label">Password</label>
                    <input type="password" name="password" id="inputPassword"
                           class="form-control" autocomplete="current-password" required>
                </div>

                <input type="hidden" name="_csrf_token" data-controller="csrf-protection"
                       value="{{ csrf_token('authenticate') }}">

                <button class="btn btn-primary w-100" type="submit">Sign in</button>
            </form>
        </div>
    </div>
{% endblock %}
